{% extends 'profile/index.html' %}
{% load static %}

{% block title %}<title>Profile</title>{% endblock %}


{% block profile_content %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<h2>Red is one of the strongest colors, it's blood, it has a power with the eye.<br>
            That's why traffic lights are red I guess, and stop signs as well... In fact I use red in all of my paintings.</h2>

       <div class="col-md-7 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >User Profile</h4></div>
   <div class="panel-body">

    <div class="box box-info">

            <div class="box-body">
                     <div class="col-sm-6">
                     <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">

                <input id="profile-image-upload" class="hidden" type="file">
    <div style="color:#999;" >{{ user.full_name }}</div>
                <!--Upload Image Js And Css-->

                     </div>
              <br>
              <!-- /input-group -->
            </div>
            <div class="col-sm-6">
            <h4 style="color:#00b1b1;">{{ user.full_name }}</h4></span>
              <span><p>{{ user.profession }}</p></span>
            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">


                <div class="col-sm-5 col-xs-6 tital " >Name:</div><div class="col-sm-7 col-xs-6 ">{{ user.full_name }}</div>
                     <div class="clearfix"></div>
                <div class="bot-border"></div>

                <div class="col-sm-5 col-xs-6 tital " >Contact:</div><div class="col-sm-7 col-xs-6 ">{{ user.phone }}</div>

                 <div class="col-sm-5 col-xs-6 tital " >Blood Type:</div><div class="col-sm-7 col-xs-6 ">{{ user.blood }}</div>

                <div class="col-sm-5 col-xs-6 tital " >Date Of Joining:</div><div class="col-sm-7">15 Jun 2016</div>
                  <div class="clearfix"></div>
                <div class="bot-border"></div>

                <div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div><div class="col-sm-7">{{ user.age }}</div>
                  <div class="clearfix"></div>
                <div class="bot-border"></div>

                <div class="col-sm-5 col-xs-6 tital " >Place Of Birth:</div><div class="col-sm-7">{{ user.first_address }}</div>
                 <div class="clearfix"></div>
                <div class="bot-border"></div>

                <div class="col-sm-5 col-xs-6 tital " >Nationality:</div><div class="col-sm-7">Bangladeshi</div>
                 <div class="clearfix"></div>
                <div class="bot-border"></div>

                <div class="col-sm-5 col-xs-6 tital " >Gender:</div><div class="col-sm-7 col-xs-6 ">{{ user.gender }}</div>

                <div class="col-sm-5 col-xs-6 tital " >Last Donation</div><div class="col-sm-7">
                {{ user.last_donation_date }}</div>


            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>


    </div>
    </div>
</div>
    <script>
              $(function() {
    $('#profile-image1').on('click', function() {
        $('#profile-image-upload').click();
    });
});
              </script>

   </div>
</div>


{% endblock %}