{% extends 'index.html' %}
{% load static %}
{% block title %}<title>Signup Success</title>{% endblock %}

{% block content %}
<br>
    <div style="margin:0 auto;width:85%;text-align:left" class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h2 class="text-white-50 mx-auto mt-2 mb-5" style="background-color: #078208">Your registration has been
              created successfully.<br>
              Please wait for Admin Approval
              </h2><br>


        </div>
    </div><br>

{% endblock %}

