{% extends 'index.html' %}
{% load static %}


{% block title %}
    <title>About</title>
{% endblock %}


{% block content %}<br><br><br>

    <div style="margin:0 auto;width:85%;text-align:left">


    <div class="container" style="color: #147413">
        <h2>Profile of Humanitywatch</h2>

            <strong>Background:</strong>

            Humanitywatch is a nongovernment nonprofit making voluntary organization formed in 1998 by some progressive
            socio cultural activists to work for common goods. Humanitywatch obtained legal status on 13 February 2005
            under the Societies Act XXI of Bangladesh vide registration number 119/2005. Humanitywatch is mainly depends
            on voluntary contribution of the members, sympathizers and volunteers who  re working intensively with the poor,
            marginal and underprivileged biodiversity dependant people i.e. forest people, indigenous communities, marginal
            farmers and climate forced migrants.
            The organization started its journey with blood and eye donation program and donated more than 10,000 bags of blood to
            the poor and vulnerable patients. Through the relief work in flood of 2000 & 2002, the organization realized
            that the floods of southwest coastal region are the effect of unplanned development initiatives. From the
            realization, humanitywatch had taken some programs to meet the problems of the region such as Series Dialogue
            on the Rights of Subalterns: local & global perspective, Movement against water logging and Sustainable
            development of Agriculture, Study on human rights situation of southwest region, Study on economic justice of
            child labours in Khulna and observation of national and international days related with human rights and justice.
    </div><br>


        <div class="container">
            <h2>Contract Address</h2>

                Humanitywatch
                77/1 Boyra Main Road. Khulna, Bangladesh
                Phone: +880 1712 130040
                E-mail: hwforg@gmail.com, info@humanitybd.org
                Website: www.humanitybd.org
        </div><br>


        <div class="container">
            <h2>Vision</h2>
                To establish poverty free, environment friendly secular society of equity.
        </div><br>


        <div class="container">
            <h2>Mission</h2>
                To organize campaign, advocacy and research from the perspective of humanity for
                ensuring rights of the oppressed, economic justice, justice to the environment
                and alternative development towards a right based developed country.
        </div><br>


        <div class="container">
            <h2>Primary Stakeholders</h2>
                Forest peoples, Small and marginal farmers, Indigenous communities and socially
                excluded groups, working Children, agro labours and labours in the informal sectors.
        </div><br>


        <div class="container">
            <h2>Secondary Stakeholders</h2>
                Civil Society Representatives, Peoples Movement Leaders, Cultural Activists,
                Journalists, Development Activists, Student Movement Activists, Business Persons, Political Leaders and Policy Makers
        </div><br>


        <div class="container">
            <h2>Working Area</h2>
                Humanitywatch is directly working in the southwest coastal region of
                Bangladesh such as Khulna, Satkhira, Bagerhat, Jessore and Narail districts.
                The organization also has a strong network with other partner organizations in all over
                the country including Bagerhat, Barguna, Barisal, Bhola, Chittagong, Cox's Bazaar, Dhaka, Gaibandha,
                Jessore, Narail, Noakhali, Patuakhali, Pirojpur, Satkhira, Sunamganj and Sylhet district.
        </div><br>


        <div class="container">
            <h2>Legal Identity</h2>
                Humanitywatch is registered as a nonprofit making organization under Society Act XXI under
                Joint Stock Companies and Firms of the Government of Bangladesh vide registration number 119/2005, dated 13 February 2005.
        </div><br>


        <div class="container">
            <h2>Executive Committee</h2>

             A 7members Executive Committee (EC) is elected for every 5 years and responsible to govern the
            organization between 2 Annual General Meeting (AGM) of the General Body (GB) Members. The present EC of
            Humanitywatch consists dynamic leadership from social, cultural, academic and financial background and sits
            once in each 3 months to oversee policies, progress in project implementation and overall management of
            the Chief Executive and other employees. The members of present Executive Committee are:
            <h4>1. Saroj Das Pintu Chairperson, Regional Finance Coordinator, Karim Group of Companies (KGC), Khulna</h4>
            <h4>2. Palash Das Vice Chairperson,  Human Rights Activist</h4>
            <h4>3. Tariq Rahman Vice Chairperson, Sub Editor, Daily Jugantor, Dhaka</h4>
            <h4>4. Shariful Islam Salim General Secretary, Assistant Secretary Managing Director, Twinkle Enterprise, Khulna</h4>
            <h4>5. Md. Rasel Assistant Secretary, Development Activities</h4>
            <h4>6. Mahfuzur Rahman Mukul Divisional Coordinator, Bangladesh Environmental Lawyers Association (BELA), Khulna</h4>
            <h4>7. Lithu Rani Mondal Cultural Activist</h4>
        </div><br>


        <div class="container">
            <h2>Advisory Committee</h2>

            The Advisory Committee of Humanitywatch is formed with involvement of learned and most honourable
            persons of the southwest coastal region of Bangladesh. The advisory committee provides overall guidance
            to the Executive Committee and review the progress of organization through its Half Yearly Meeting.
            Currently the Advisory Committee has 10 members from social service, business, academic, political and
            cultural background. The present Advisers are:<br>
            SL # Name Occupation<br>
                1. Dr. Baharul Alam, Managing Director, APC Pharmaceuticals Limited, Khulna; President, Bangladesh
            Medical Association (BMA) Khulna<br>
                2. Professor Anowarul Kadir Environmental Economist; Columnist; Executive Director, Sundarban Academy, Khulna<br>
                3. Rafiqul Huq Khokon President, Khulna City Committe and Member, National<br>
            Council, Bangladesh Jatiya Samajtantrik Dal (JSD)<br>
                4. Dilip Kumar Datta, Ph.D. Professor, Environmental Science Discipline, Khulna University;<br>
                5. Nazrul Islam Manju Former Member of Parliament (MP), Bangladesh Jatiya Sangsad<br>
            & Central Leader, Bangladesh Nationalist Party (BNP),
                6. S A Rashid Secretary, Communist Party of Bangladesh (CPB), Khulna District Committee<br>
                7. Gouranga Nandy Environmentalist; Social Researcher; Khulna, Contributor, BBC Bangla; Khulna, Bureau Chief, Daily Kaler Kantho<br>
                8. Mahbub Ahmed Founder President, Humanitywatch; Managing Director, Dream Unlimited, Dhaka<br>
        </div><br>


        <div class="container">
            <h2>General Members</h2>
            The 19 members General Committee is the most powerful and supreme organ of Humanitywatch. The general body consists members from all sectors of the society. Usually it sits at least once a year to examine the achievements and performance, approve the annual programme and finance reports and elect the Executive Committee for every 5 years. Each of General Committee members are playing important roles in different committees of campaign, advocacy and Blood Donation programme. Executive Body is solely responsible to the General Committee for its activities. The General Committee membership reviewed each year according to their involvement with the organization, opportunity to engage in organizational development and performance to achieve the vision and mission of the organization.
            Present General Committee members are:<br>
                1. Saroj Das Pintu Regional Manager, Karim Group of Companies, Khulna<br>
                2. Tariq Rahman Sub Editor, Daily Jugantor, Dhaka<br>
                3. Hasan Mehedi Human Rights Activist<br>
                4. Shariful Islam Salim General Secretary, Humanitywatch<br>
                5. Tariqul Islam Bappi Social Activist<br>
                6. S.M Munir Hossain Social Activist<br>
                7. HMA Mannan Electrician, Anannya Group of Companies, Dhaka<br>
                8. Shahnaz Parvin Teacher, Secondary School, Khulna<br>
                9. Asad-Uz-Zaman Asad Junior Consultant, Access to Information (A2I), UNDP,<br>
            Prime Minister's Office, Dhaka
                10. Ariful Islam Sumon Social Activist<br>
                11. Palash Das Human Rights Activist<br>
                12. Kanish Humaray Poly Lawyer, Khulna Judges Court;<br>
                13. Mahfuzur Rahman Mukul Divisional Coordinator, Bangladesh Environmental Lawyers Association (BELA), Khulna<br>
                14. Md Rasel Social Activist<br>
                15. Nasim Rahman Kiron Cultural Activist<br>
                16. Nasrin Akter Executive Officer, ORG Quest Limited, Dhaka<br>
                17. Sheikh Hasan Mahfuz Businessman<br>
                18. Mohammad Ali Shopon Social Activist<br>
                19. Lithu Rani Mondal Cultural Activist<br>
        </div><br>


        <div class="container">
            <h2>Alternative Members</h2>
            The Alternative Members are main force of the organization. They are selected
            from social, political, cultural and peoples movements, and from students who desire a change
            in the society. Alternative Members are involved in the Blood Donation Program, Campaign, Research
            and Advocacy programmes. Each year a number of Alternative Members get full membership  according to their
            performance, devotion and contribution to the objectives of Humanitywatch.
        </div><br>


        <div class="container">
            <h2>Programmes</h2>

            Mainly Humanitywatch is an advocacy and campaign oriented organization focuses on the rights of
            common people especially forest and indigenous communities, small and marginal farmers, socially
            excluded groups, women and children. The organization has been conducting some significant research
            and studies to contribute to evidence-based advocacy. To show some models of sustainable development in
            grass-roots level, Humanitywatch has been implementing a small number of service delivery projects also.
            Thus the organization is working in two approaches:<br>
             i) Right-Based Movements, and<br>
             ii) Community Development Approach<br>
        </div><br>


        <div class="container">
            <h2>In Right-Based Movements, Humanitywatch organizes</h2>

            (a) Policy and Evidence Based Research<br>
            (b) Knowledge Management<br>
            (c) Popular Mobilization<br>
            (d) Media Campaign<br>
            (e) Publication<br>
            (f) Alliance Building<br>
            (f) Advocacy and<br>
            (g) Policy Level Lobby.<br>
        </div><br>


        <div class="container">
            <h2>In Community Development Approach, Humanitywatch organizes</h2>

            (a) Awareness Building<br>
            (b) Observation of National and International important Days<br>
            (c) Capacity Building of the Communities, Organizations and Socio-political Activists<br>
            (d) Capital Support for Economic Development<br>
            (e) Leadership Development<br>
            (f) Skill Development Training<br>
            (g) Information Dissemination<br>
            (h) Networking and<br>
            (i) Replication of Successful Development Models<br>
        </div><br>


        <div class="container">
            <h2>Humanitywatch is mandated to run its works on three</h2>

             (3) thematic areas.
            Some of the thematic areas are cross-cutting while some of them are related with
            international and regional macro policies. The themes, programmes and activities are:<br>
            <div class="container">
                <div>
                <h3>Theme 1: Climate Crisis Mitigation</h3>
                Programme 1.1: Global Climate Justice<br>
                Programme 1.2: Justice in Climate Financing<br>
                Programme 1.3: Rights of Climate Forced Migrants (CFM)<br>
                Programme 1.4: Local Ecology Based Adaptation (LEBA)<br>
            </div><br>

            <div>
                <h3>Theme 2: Humanitarian Response and Disaster Preparedness</h3>
                Programme 2.1: Disaster Management Policy and Acts<br>
                Programme 2.2: Humanitarian Advocacy<br>
                Programme 2.3: Emergency Relief and Rehabilitation<br>
                Programme 2.4: Voluntary Blood and Eye Donation<br>
            </div><br>

            <div>
                <h3>Theme 3: Agriculture and Water</h3>
                Programme 3.1: Indigenous Agriculture Practice<br>
                Programme 3.2: Traditional Seed Reserving<br>
                Programme 3.3: Safe Water and Integrated Water Resource Management<br>
                Programme 3.4: Ownership Buildup of Water and Sanitation<br>
            </div><br>
            </div>

        </div><br>


        <div class="container">
            <h2>Resources:</h2>
            To fulfill its mandate in right-based development, Humanitywatch published a number of Study Reports,
            Experience Sharing Reports and Skill Development Materials including Books, Booklets, Leaflets and
            Video Documentary to contribute to the campaign and advocacy. To see or download the resources, please
            click on the links of respective document name.
            Books & Booklets<br>
            1. Right to Common Water Bodies: Case Study of Dacope (English)<br>
            2.  State of Bangladesh Agriculture 2010 (Bangla)<br>
            3. Community Action Guide to the ADB, Its Policies and Projects (English)<br>
            4. Climate Induced Migration: Case Study of Cyclone Aila in the Southwest Coastal Region of Bangladesh (English)<br>
            5. Peoples Opinion on Bangladesh Climate Change Strategy and Action Plan 2009 (Bangla)<br>
            6. United Nations Declaration on the Rights of Persons Belonging to National or Ethnic, Religious and Linguistic Minorities (Translated in Bangla)
            7. United Nations Declaration on the Rights of Indigenous Peoples (Translated in Bangla) <br>
            8. Bangladesh Climate Justice Day 2011 (English) <br>
            9. Agreement on Establishing the SAARC Food Bank (Translated in Bangla) <br>
        </div><br>


        <div class="container">
            <h2> Factsheets</h2>
            1. Kacha Canal of Dacope, Khulna, Bangladesh (Bangla)
        </div><br>


        <div class="container">
            <h2>Presentations</h2>
            1. Rural Livelihood Fair 1417 in Khulna (English)<br>
            2. Struggle for Home - Campaign for cyclone Aila Victims (English) <br>
        </div><br>


        <div class="container">
            <h2>Seminar Papers</h2>
            1. Climate Induced Migration in Bangladesh (English)<br>
            2. Climate Forced Migration: Related Evidences and Policy Suggestions (Bangla)<br>
            3. Climate Forced Migration: Related Evidences and Policy Suggestions (English)<br>
        </div><br>


        <div class="container">
            <h2>Position Papers</h2>
            1. The Sundarbans and the Forest People (English)
        </div><br>


        <div class="container">
            <h2>Experience Sharing</h2>
            1. Digital Campaign under Campaign for Sustainable Rural Livelihoods (Bangla)<br>
            2. Rights to Recognition and Livelihoods of Forest Peoples (Bangla)<br>
        </div><br>


        <div class="container">
            <h2>Video Documents</h2>
            1. UNCBD and the Sundarbans Forest People (English)<br>
            2. Struggle for Home - Experience of Aila Campaign (Bangla) <br>
            3. Agriculture Long March 2011 with PRAN (English)<br>
            4. Tears of Bhabodaho - Peoples Voice on an ADB Project (Bangla) <br>
        </div><br>



        <div class="container">
            <h2>National & International Policies</h2>
            1. Bangladesh Climate Change Strategy and Action Plan (BCCSAP) 2009 (English)<br>
            2. Bangladesh Climate Change Strategy and Action Plan (BCCSAP) 2009 (Bangla) <br>
            3. Bangladesh Country Investment Plan 2011<br>
            4. Bangladesh Environment Court Act 2000 (Bangla)<br>
            5. Coastal Development Strategy 2006 (Bangla)<br>
            6. Coastal Zone Policy 2005 (Bangla)<br>
            7. Cyclone Shelter Management Policy 2011 (Bangla)<br>
            8. Draft Bangladesh Water Act 2010 (Bangla) <br>
            9. Draft Bangladesh Water Act 2010 (English) <br>
            10. Brick Kiln (Control) Act 1989 (Bangla) <br>
            11. Disaster Management Act 2012 (Bangla)<br>
            12. Environment Policy 1992 (Bangla) <br>
            13. Environment Protection Act (Amendment) 2010 (Bangla)<br>
            14. Environment Protection Act 1995 (Bangla)<br>
            15. Environment Protection Rules 1997 (Bangla)<br>
            16. Integrated Coastal Zone Management Plan (ICZMP)<br>
            17. Forest Act 1927 [Amendment 2010] (English)<br>
            18. National Adaptation Plan of Action (NAPA) 2005 (English)<br>
            19. National Agricultural Extension Policy 1996<br>
            20. National Food and Nutrition Policy 2006<br>
            21. National Food Policy Plan of Action 2008-15<br>
            22. National Health Policy 2011<br>
            23. National Seed Policy 1999<br>
            24. National Water Management Plan 2001 (English)<br>
            25. National Water Policy 1999 (Bangla)<br>
        </div><br>


        <div class="container">
            <h2>Partners</h2>
            Since its inception Humanitywatch has been awarded financial and technical support from several national
            and international organizations. These include:<br>
            –   Actionaid Bangladesh<br>
            –   Bangladesh Environmental Lawyers’ Association (BELA)<br>
            –   Bangladesh Resource Centre for Indigenous Knowledge (BARCIK)<br>
            –   Centre for Education and Culture (CEC)<br>
            –   Coastal Development Partnership (CDP)<br>
            –   Community Development Library (CDL)<br>
            –   Forest Peoples Programme (FPP)<br>
            –   International Accountability Project (IAP)<br>
            –   Local Environment Development and Agricultural Research Society (LEADERS)<br>
            –   Nagorik Sanghati (Citizen Solidarity)<br>
            –   Oxfam<br>
            –   Participatory Research and Action Network (PRAN)<br>
            –   Population Action International (PAI)<br>
            –   SHAREE<br>
            –   Uttaran<br>
        </div><br>


        <div class="container">
            <h2>Networks and Forums</h2>
            Towards its vision and mission Humanitywatch joined in several national and international Networks
            and Forums of Civil Society to raise voices and maximize impacts of the advocacy and campaign.
            Humanitywatch is the Lead role in some of the Forum in Bangladesh including Bonojibi Odhikar
            Suraksha Mancho (BOSM) and Sundarbans Watch Group (SWG) while playing important role in other Networks.
            The networks include:<br>
            –   Bangladesh Civil Society Network for Promoting Nutrition (BCSNPN)<br>
            –   Bonojibi Odhikar Suraksha Mancho (BOSM)<br>
            –   Campaign for Sustainable Rural Livelihoods (CSRL)<br>
            –   Climate Finance Governance Network (CFGN)<br>
            –   Democratic Budget Movement (DBM)<br>
            –   Equity and Justice Working Group Bangladesh (EquityBD)<br>
            –   Food Security Network of Bangladesh (Khani-Bangladesh)<br>
            –   Jubilee South Asia Pacific Movement on Debt and Development (JS-APMDD)<br>
            –   Mangrove Action Project (MAP)<br>
            –   NGO Forum on ADB<br>
            –   Sundarbans Watch Group (SWG)<br>
        </div><br>


        <div class="container">
            <h2>Allies</h2>
            To create an opportunity to raise voices from and to demonstrate the new ideas and
            approaches in all over the country Humanitywatch formed allies with other like-minded organizations.
            The organizations include: <br>
            –   IDEA, Sylhet<br>
            –   HAUS, Sunamganj<br>
            –   ISDE Bangladesh, Chittagong<br>
            –   Jago Nari, Barguna<br>
            –   Participatory Research and Action Network (PRAN), Noakhali<br>
            –   Pirojpur Gono-Unnayan Samiti (PGUS), Pirojpur<br>
            –   Prantojon Trust, Barisal<br>
            –   Progoti, Satkhira<br>
            –   Shahai Foundation, Cox’s Bazar<br>
            –   Shapla Ful, Patuakhali<br>
            –   SODESH, Satkhira<br>
            –   Uttaran, Gaibandha<br>
        </div><br>


        <div class="container" style="color: #068a10">
            <h2>Contact Person</h2>
            Shariful Islam Salim<br>
            General Secretary<br>
            Humanitywatch<br>
            Phone: +880 1712 130040, +880 1558 902330<br>
        </div><br>

    </div><br><br><br>


{% endblock %}