{% extends 'index.html' %}
{% load static %}


{% block title %}
    <title>Mission and Vision</title>
{% endblock %}


{% block content %}
    <br><br><br>

<div style="margin:0 auto;width:85%;text-align:left" class="agileits-top">

    Vision:
To establish poverty free, environment friendly secular society of equity.


Mission:
To organize campaign, advocacy and research from the perspective of humanity for ensuring rights of the oppressed,
    economic justice, justice to the environment and alternative development towards a right based developed country.
    <div/>


{% endblock %}

