{% extends 'index.html' %}
{% load static %}


{% block title %}
    <title>Organization</title>
{% endblock %}


{% block content %}
    <br><br><br>

<div style="margin:0 auto;width:85%;text-align:left" class="agileits-top">

    Networks and Forums:
    Towards its vision and mission Humanitywatch joined in several national and international Networks and Forums of Civil
    Society to raise voices and maximize impacts of the advocacy and campaign. Humanitywatch is the Lead role in some
    of the Forum in Bangladesh including Bonojibi Odhikar Suraksha Mancho (BOSM) and Sundarbans Watch Group (SWG) while
    playing important role in other Networks. The networks include:

–   Bangladesh Civil Society Network for Promoting Nutrition (BCSNPN)
–   Bonojibi Odhikar Suraksha Mancho (BOSM)
–   Campaign for Sustainable Rural Livelihoods (CSRL)
–   Climate Finance Governance Network (CFGN)
–   Democratic Budget Movement (DBM)
–   Equity and Justice Working Group Bangladesh (EquityBD)
–   Food Security Network of Bangladesh (Khani-Bangladesh)
–   Jubilee South Asia Pacific Movement on Debt and Development (JS-APMDD)
–   Mangrove Action Project (MAP)
–   NGO Forum on ADB
–   Sundarbans Watch Group (SWG)

    <div/>


{% endblock %}

