{% extends 'index.html' %}
{% load static %}


{% block title %}
    <title>Photo Gallery</title>
{% endblock %}

{% block content %}
    <br><br><br>


    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/01.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/02.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/04.JPG' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/12931093_10207820142094877_4845762097027894471_n.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/13076890_986707091382635_8143259946533805631_n.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/13095908_10207953701433777_8335647990427689818_n.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/15423677_925613720906650_1409566401_n.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/17629831_437828223231159_1104650544911154354_n.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/abujor.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Abujor 01.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/abujor 02.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/AGM 2018.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Annual Meeting 2016.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Annual Meeting 2016 2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Banner 01.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/DSC04199.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Banner 02.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/DSC04199.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/DSC_0047.JPG' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/DSC_0049.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/DSC_0063.JPG' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/HR Day.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Humanity Banner.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Humanitywatch Logo -1.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Humanitywatch Logo -2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Humanitywatch Logo -3.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Humanitywatch Logo -4.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/HWF.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Hwf Council 2016 Photo 01.JPG' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/img.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/img1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/img2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/img3.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/img4.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/img5.JPG' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/img6.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/img7.JPG' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/img8.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/img9.JPG' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Litu card.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/logo.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Noboborsho Card.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/noboborso2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Palash Das.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-home home-reasons">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/Water Day 2016.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reasons-col animate-onscroll fadeIn">
                        <img src="{% static 'assets/humanitywatch_image/world blood day.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.home-reasons -->

    <br><br><br>

{% endblock %}

